{layout base.latte}
{block title}Over{/block}
{block content}
    <h3>Over dit project | Veelgestelde vragen</h3>
    <h4>Wie ben jij?</h4>
    <p>David Doorn, programmeur, muziekliefhebber, persoon</p>

    <h4>Waarom heb je dit gemaakt?</h4>
    <p>Ja, vond ik gewoon leuk. En om makkelijk een Top2000 lijst te maken voor <a href="https://nsenschede.nl">mijn studentenvereniging</a></p>

    <h4>Mag ik dit helemaal gratis gebruiken?</h4>
    <p>Ja! Als je wil bijdragen aan dit project kun je ook <a href="https://tikkie.me/pay/ii12j52o1rp35tn2d7tu">Doneren</a></p>

    <h4>Ik heb een idee voor volgend jaar!</h4>
    <p>Leuk dat je meedenkt! Je kunt een <a href="https://github.com/thedjdoorn/StemLijst/issues">issue</a> openen of even <a href="mailto:top2000@daviddoorn.nl">mailen</a> </p>

    <h4>Is dit project Open Source?</h4>
    <p><a href="https://github.com/thedjdoorn/StemLijst">Ja.</a> Ik weet dat het allemaal niet heel mooie code is, maar ik had niet zo veel tijd oké</p>

    <h4>Zijn er nog dingen die je hebt gebruikt voor dit project waar je over wilt vertellen?</h4>
    <p><a href="https://fomantic-ui.com"><strong>Fomantic UI</strong></a> is een community fork van <a href="https://semantic-ui.com">Semantic UI</a>, van Jack Lukic. Beide projecten zijn open source onder de MIT License</p>
    <p><a href="https://github.com/klein/klein"><strong>Klein</strong></a> is een router voor PHP. Klein is open source onder de MIT License</p>
    <p><a href="https://github.com/nette/latte"><strong>Latte</strong></a> is een templating engine voor PHP. Latte is bruikbaar onder de BSD License en GPL v2 en v3</p>
    <p><a href="https://github.com/fzaninotto/Faker"><strong>Faker</strong></a> genereert willekeurige data. Copyright (c) 2011 François Zaninotto</p>

    <h4>Mijn vraag/opmerking staat er niet tussen!</h4>
    <p>Dan kan je het beste even <a href="mailto:top2000@daviddoorn.nl">een mailtje sturen</a></p>
{/block}