<html>
<head>
    <title>{block title}{/block} - StemLijst</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.2/dist/semantic.min.js"></script>
</head>
<body>
<div style="margin-top: 5%"></div>
<div class="ui center aligned container">
    <a href="/"><h1 class="ui header">Stemlijst</h1></a>
    <p>Jouw persoonlijke Top 2000</p>
</div>
<div class="ui divider"></div>
<div class="ui center aligned container">
    {block content}{/block}
</div>
<div class="ui divider"></div>
<div class="ui center aligned container">
    <p class="ui centered"><a href="/over">Over dit project</a></p>
</div>
</body>
</html>