{layout base.latte}
{block title}Groep Aangemaakt{/block}
{block content}
    <h4>Gelukt!</h4>
    <p>Je groep met naam <strong>{$name}</strong> is aangemaakt! Deel de volgende link:</p><br>
    <a href="/groep/{$slug}">https://stemlijst.daviddoorn.nl/groep/{$slug}</a>
{/block}