{layout base.latte}
{block title}Home{/block}
{block content}
    <h4>Maak je eigen Top 2000!</h4>
    <form class="ui form" action="/groep" method="post">
        <input name="firstname" type="text" id="firstname" style="display: none">
        <div class="ui input"><input name="name" placeholder="Naam van je groep" type="text"></div>
        <input class="ui button" type="submit" value="Insturen">
    </form>
{/block}